@page
@model DepSite.Pages.StudentLanding.IndexModel
@{
}
<head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      * {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
}
.cont {
  width: 100%;
  margin: 0 auto; /* Center the content horizontally */
}
.headquote {
  font-size: 18px;
  width: 70%
}
.top-header {
  background: #2196f3;
  padding: 5px 0px;
  border-bottom: 2px solid #3131315e;
}
.news {
  color: black;
  padding: 10px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0px;
}

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container img {
    float: left;
    height: 100px; 
    margin-right: 10px; 
    margin-left: 100px;
    width: 80px;
    cursor: pointer;
  }

  .college-name {
    padding-left: 10px;
    float: left;
    font-size: 15px;
    flex: 1;
    cursor: pointer;
  }

  .clg1 {
    font-weight: lighter;
  }

  .clg2 {
    font-weight: bold;
  }

  .clg3 {
    font-weight: lighter;
  }

  .clg4 {
    color: red;
    font-weight: bolder;
  }

  .clg1, .clg2, .clg3, .clg4 {
    margin: 0%;
    padding: 0%;
  }
  p {
    margin: 0 0 10px;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    color:aliceblue;
    border-radius: 50%;
    background-color: #111;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .fa:hover {
    background-color: #2196f3;;
    opacity: 0.9;;
  }
  .social-media {
    display: inline-flex;
  }
  .social-media i {
    margin-left: 10px;
  }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0; 
  border-top: 5px #111;
  width: 100%;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-top: 5px #111;
  background-color: #111;
  transition-duration: 0.4s;
}

.active, .nav li a:hover {
  background-color: #2196f3;
}

.image-container {
  position: relative;
}
.slider-width {
  width: 99vw;
  height: 5%
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity here */
  display: flex;
  justify-content: left;
  align-items: center;
}
.content {
  color: black;
  font-size: 70px;
  text-align: left;
  margin-left: 10px;
}

.margin-top-50 {
  margin-top: 20px;
}
.news-100 {
  width: 100%;
  float: left;
}
.news-container {
  width: 1500px;
  margin: 0 auto;
}
.width-33 {
  width: 33%;
  float: left;
}
.latest-news {
  margin-left: 10px;
  margin-right: 10px;
  background-color: aliceblue;
  padding: 20px;
  height: 350px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.latest-news:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.heading-sect {
  width: 100%;
  float: left;
  border-bottom: 1px solid #cfcfcf;
  margin: 0px;
  margin-bottom: 15px;
  padding-top: 15px;
  border: 1px solid #cfcfcf;
  padding-bottom: 10px;
  background-color: #2196f3;
  color: white;
  text-align: center;
}
.heading {
  margin: 0 px;
  padding: 0px;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.latest-news-ul {
  padding: 0px;
  list-style: none;
}
.latest-news-ul li {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  color: #111;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.news-date {
  background-color: #03a9f4;
  width: 30px;
  float: left;
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
}

.stud-achivements {
  margin-left: 10px;
  margin-right: 10px;
  background-color:aliceblue;
  padding: 20px;
  height: 350px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.stud-achivements:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.stud-achivements-ul {
  padding: 0px;
  list-style: none;
  line-height: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.notice-board {
  margin-left: 10px;
  margin-right: 10px;
  background-color: aliceblue;
  padding: 20px;
  height: 350px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.notice-board:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.notice-board-ul {
  padding: 0px;
  list-style: none;
  line-height: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.notice-board-ul li {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.gallery-head {
  font-size: 50px;
  color: black;
  font-weight: bolder;
  margin-bottom: 20px;
  background-color: white;
  padding: 2px 0px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.width-25 {
  width: 25%;
  float: left;
}
.gallery-img {
  height: 250px;
  width: auto;
  cursor: pointer;
}
.about-section {
  padding: 50px;
  text-align: center;
  text-justify: inter-word;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: white;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.margin-top-10 {
  margin-top: 3px;
}

.placements-head {
  font-size: 30px;
  color: #111;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 40px;
  font-weight: bolder;
}
.placements-marquee {
  height: 100px;
}
.placements-marquee img{
  height: 80px;
  width: 140px;
  border: 1px solid black;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  cursor: pointer;
}
.placements-marquee img:hover {
  filter: grayscale(0%);
}

.footer {
  background-color:#333;
  padding: 50px 0px;
}
.quicklinks {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 40px;
}
.quicklinks-ul {
  list-style: none;
  padding-left: 10px;
  margin-left: 40px;
}
.quicklinks-ul li a {
  color: #fff;
  line-height: 2.5;
  font-size: 15px;
  text-decoration: none;
}
.contact-us {
  list-style: none;
  padding-left: 10px;
  color: #fff;
  margin-bottom: 10px;
}
.contact-us li i {
  color: #ed372c;
  font-size: 15px;
}
.contact-us li {
  color: #fff;
  line-height: 2.5;
  font-size: 15px;
}
.footer-email {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.footer-social {
  list-style: none;
  margin-top: 10px;
}
.footer-social li {
  float: left;
  padding: 0px 8px;
}
.footer-social li img a {
  width: 20px;
}
  </style>
  <script>
      let slideIndex = 1;

function showSlideshow() {
  document.getElementById('slideshow-container').style.display = 'block';
  showSlides(slideIndex);
}

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {
    slideIndex = 1;
  }
  if (n < 1) {
    slideIndex = slides.length;
  }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex - 1].style.display = "block";
}

  </script>
</head>
<body>

            <div class="width-1oo top-header">
                <div class="cont">
                    <div class="width-100">
                        <b class="news"> Announcements |</b>
                        <marquee behaviour="scroll" onmouseover="this.stop();" onmouseout="this.start();" direction="left"  class="headquote">15th of April will be the last day of academic teaching for the semester.</marquee>
                    </div>
                </div>
            </div>
            <nav class="header">
                <div class="container">
          <a class="navbar-brand" href="https://www.viit.ac.in/index.php" title="https://viit.ac.in" target="_blank">
            <img src="~/Images/viit.png" alt="Vishwakarma Institute of Information Technology" class="img-responsive">
            <div class="college-name">
              <h4 class="clg1">Bansilal Ramnath Agarwal Charitable Trust's</h4>
              <h1 class="clg2">Vishwakarma Institute of Information Technology</h1>
              <hr />
              <h4 class="clg3">(An Autonomous Institute affiliated to Savitri Bai Phule University)</h4>
              <h4 class="clg4">Institute accredited with 'A' by NAAC</h4>
            </div>
          <a>

          <div class="social-media">
            <a href="mailto:viitpuneofficial@gmail.com" class="envelope" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="https://twitter.com/viit_pune" class="twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/viitpu/?ref=bookmarks" class="facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCAkJjvfT8-h0Ex4E2P-Utfg" class="youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/school/viitpune/?viewAsMember=true" class="linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/viitpuneofficial/" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>
      </nav>
    


            <ul class="nav">
                <li><a class="active" href="/StudentLanding">Home</a></li>
        <li><a href="#aboutus">About us</a></li>
        <li><a href="/Curriculum">Curriculum</a></li>
        <li><a href="/StudyMaterial">Study Material</a></li>
        <li><a href="/Assignments">Assignments</a></li>
        <li><a href="/Noticeboard">Notice Board</a></li>
        <li><a href="#contactus">Contact us</a> </li>
            </ul>
            </body>
            <h2>Welcome, @ViewBag.UserName</h2>

    